

.root{
  -fx-background-color: lightblue;
  -fx-background-image: url('bg.jpg');
  -fx-background-repeat: no-repeat;
  -fx-background-position: center;
  -fx-background-size: cover;
  -fx-cursor: hand;
}

.game-section ChoiceBox {
  -fx-font-family: "Arial Rounded MT Bold", Arial;
}

.header-section Label {
  -fx-text-fill: navy;
  -fx-font-family: "Arial Rounded MT Bold", Arial;
  -fx-font-weight: bold;
  -fx-display: block;
  -fx-font-size: 15
}

.game-section .board-section Label:hover {
  -fx-font-size: 1.5em; /* increase font size by 10% */
  -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 10, 0.0, 0, 4); /* add drop shadow */
  -fx-transform: scale(1.1); /* scale up by 10% */
}

.game-section {
  -fx-background-color: lightblue;
  -fx-background-image: url('bg2.jpg');
  -fx-background-repeat: no-repeat;
  -fx-background-position: center;
  -fx-background-size: cover;
  -fx-cursor: hand;
}
.game-section Label {
  -fx-font-family: "Arial Rounded MT Bold", Arial;
}

.game-section Button {
  -fx-background-image: url('levelup.jpg');
  -fx-background-repeat: no-repeat;
  -fx-background-position: center;
  -fx-background-size: contain;
  -fx-pref-width: 70px;
  -fx-max-height: 10px;
}
.game-section Button:hover{
  -fx-background-color:white;
  -fx-text-fill:navy;
}

#rInfo{
  -fx-font-family: "Arial Rounded MT Bold", Arial;
  -fx-font-size: 15
}

#sourceInput{
  -fx-font-family: "Arial Rounded MT Bold", Arial;
  -fx-font-size: 25
}

#confirmAction{
  -fx-background-image: none;
  -fx-background-color: navy;
  -fx-text-fill:white;
  -fx-pref-width: 100px;
  -fx-pref-height: 20px;
}
#goNext{
  -fx-background-image: none;
  -fx-background-color: navy;
  -fx-text-fill:white;
  -fx-pref-width: 100px;
  -fx-pref-height: 20px;
}

#goBack{
  -fx-background-image: none;
  -fx-background-color: navy;
  -fx-text-fill:white;
  -fx-pref-width: 100px;
  -fx-pref-height: 20px;
}

#goBack:hover{
  -fx-background-color:white;
  -fx-text-fill:navy;
}

#goNext:hover{
  -fx-background-color:white;
  -fx-text-fill:navy;
}


#seeHistory{
  -fx-background-image: none;
  -fx-background-color: navy;
  -fx-text-fill:white;
  -fx-pref-width: 100px;
  -fx-pref-height: 20px;
}

#welcome {
  -fx-font-size: 32px;
  -fx-font-family: "Arial Black";
  -fx-fill: #818181;
  -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

.header-section Button {
  -fx-padding: 10px;
  -fx-border: 1px solid gray;
  -fx-background-color:navy;
  -fx-text-fill: white;
  -fx-border-radius: 5px;
  -fx-font: inherit;
  -fx-display: block;
  -fx-margin-left: auto;
  -fx-margin-right: auto;
  -fx-width: 80px;
  -fx-transition-duration: 0.4s;
}
.header-section Button:hover{
  -fx-background-color:white;
  -fx-text-fill:navy;
}

#confirmAction:hover{
  -fx-background-color:white;
  -fx-text-fill:navy;
}

#seeHistory:hover{
  -fx-background-color:white;
  -fx-text-fill:navy;
}

